<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Beck Link Debug"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Beck Link: Flutter's own deep linking stays off. It would push the
                 link's short path (/abc) to the router; the SDK resolves the link
                 to its deep-link path (/product/123) and the app routes from
                 BeckLink.instance.onLink instead. -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />
            <!-- Beck Link App Links, verified through
                 https://{host}/.well-known/assetlinks.json.
                 REPLACE_WITH_YOUR_LINK_HOST: your project environment's link host in
                 lower case, {slug}-test.becklinks.com for a pk_test_ key or
                 {slug}.becklinks.com for a pk_live_ key. Add one <data> line per host.
                 See example/DEBUGGING.md, "1. Link host". -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="REPLACE_WITH_YOUR_LINK_HOST" />
            </intent-filter>
            <!-- becklinkdebug://… always opens this app, without any domain
                 verification: the "Open in app" form of Beck Link pages
                 (becklinkdebug://becklink?url=…) when the Android app's custom URI
                 scheme in the dashboard is becklinkdebug, and adb tests. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="becklinkdebug" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: "Open" on a created link hands it to a browser or app. -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
